# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Compilação e Dependências (Não Enviar)
node_modules
dist
dist-ssr

# Arquivos de Configuração Local e Cache
*.local
.firebase/

# Documentação Interna
ANALISE_SISTEMA.md

# Diretórios e Metadados do Sistema/Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Configurações Críticas (Segurança Máxima)
.env
.env.*
!.env.example